@font-face {
    font-family: 'Format 1452';
    src: url('fonts/Format_1452.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gowun Dodum';
    src: url('fonts/GowunDodum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Gowun Dodum', sans-serif;
}

h1{
    font-family: 'Format 1452', sans-serif;
    font-size: 8vw;
    margin-bottom: 0;
    text-align: center;
}

p{
    font-size: 2vw;
    text-align: center;
    color: #666;
}

.nav-container{
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    border-radius: 60px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 10px 16px;
    background-color: #09223c;

    .os{
        width: 40px;
        height: 40px;
        color: rgb(225, 214, 112);
    }

    ul{
        list-style: none;
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    li{
        display: inline-flex;
        align-items: center;
        gap: 5px;
        margin: 0;
        padding: 0;
        color: rgb(225, 214, 112);
    }

    a{
        color: rgb(225, 214, 112);
        text-decoration: none;
    }

    a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgb(225, 214, 112);


        svg{
            width: 14px;
            height: 14px;
        }
    }
}